body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
}
.navbar {
    width: 100%; /* Make the navbar span the full width of the page */
    position: fixed; /* Stick the navbar to the top */
    top: 0;
    left: 0;
    background-color: white;
    padding: 1rem;
    z-index: 1000; /* Ensure the navbar stays above other content */
   
}

.navbar .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Optional: set a max-width for content */
    margin: 0 auto; /* Center the navbar content */
}

.navbar .navbar-brand h1 {
    color: #000000;
    font-family:'Roboto', sans-serif ; /* Change font style here */
    font-weight: 800;
    margin: 0;
}

.navbar .navbar-links {
    display: flex;
    align-items: center;
    color: #000000;
    font-family:'Roboto', sans-serif ; /* Change font style here */
    font-weight: 600;
    margin: 0;
}

.navbar .navbar-links .nav-link {
    color: #000000;
   
    margin-left: 1rem;
    font-size: 1rem;
    text-decoration: none;
    font-family:'Roboto', sans-serif ; 
}

.navbar .navbar-links .nav-link:hover {
    color: #000000; 
    background-color: #df98f156;
    border-radius: 50%;
    padding:20px 20px;
}

/* Add an icon next to the Lessons link */
.navbar .navbar-links .nav-link .icon {
    margin-right: 0.5rem;
    font-size: 1.2rem; /* Adjust icon size */
}

.navbar .nav-container .navbar-brand img{
    width:15%;
    font-weight:500;
    color:black;
}
/* Styling for the user icon */
.user-icon {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    border-radius: 50%;
    padding: 10px 5px;
    font-size: 1rem;
    text-align: center;
    line-height: 1;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .navbar .navbar-links {
        flex-direction: column;
        text-align: center;
    }
    .navbar .navbar-links .nav-link {
        margin: 0.5rem 0;
    }
}
.container {
    margin-top: 180px!important;
}

#question {
    margin-top: 20px;
    font-size: 2rem;

    font-weight: 700;
    font-style: bold;
    margin-bottom:40px;
}

.mic-container {
    margin-top: 20px;
    text-align: center;
}
#controls {
    display: flex;
    justify-content: space-between; /* Aligns buttons to the left and right */
    align-items: center;
    position: fixed;
    bottom: 20px;
    margin: 15px;
    width: calc(100% - 30px); /* Adjust width to account for margins */
}

.textu {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none!important;
}

.textu:hover {
    background-color: #e31fcc;
    color: white;
}

#record-toggle {
    background-color: #000000;
}

#next-button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 1rem;
    cursor: pointer;
}

#next-button:hover {
    background-color: #e31fcc;
    color: white;
}

#record-toggle.recording {
    background-color: #dc3545;
}

#record-toggle .icon {
    margin-right: 10px;
    font-size: 2rem; /* Increased size for better visibility */
}




#warning {
    color: red;
    margin-top: 20px;
}


