<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IELTS Writing</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/ielts_reading.css">
    <style>
        .locked-icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.5em;
            color: rgb(145, 145, 145);
        }

        .module {
            position: relative;
        }

        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .modal2{
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }
        .modal-content2{   
            background-color: #ffffff;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 35%;}

        .modal2 img {
            width: 120px;
            height: 120px;
            margin-bottom: 20px;
            margin-left:150px;
        }

        .modal2 h2 {
            font-size: 1.5em;
            margin-bottom: 10px;
            margin-left:150px;
            font-weight: 800;
            font-family: 'Roboto', sans-serif;
        }

        .modal2 p {
            font-size: 1em;
            margin-bottom: 20px;
            font-weight: 600;
        }
        .modal2 button {
            margin-left:150px;
            padding:13px 20px;
            color:white;
            background-color: black;

        }

        .active {
            border-right: 3px solid rgb(255, 10, 255);
        }
    </style>
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <a class="navbar-brand" href="/home" style="font-weight:700; color:black; font-size:1.2em; margin-left:10px; text-decoration:none;">
                <img src="/static/images/orbido..png" alt="">RBIDO
            </a>
            <div class="navbar-links">
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link" href="/home">IELTS</a>
                <a class="nav-link" href="/home">
                    <i class="fa-solid fa-wand-magic-sparkles" style="color: #e7b40a; margin-right:10px;"></i>Lessons
                </a>
                <a class="nav-link" href="/">My Progress</a>
                <a class="nav-link" href="javascript:void(0);" onclick="toggleSidebar()">
                    <div class="user-icon">{{ session.user_initials }}</div>
                </a>
            </div>
        </div>
    </nav>
    <div id="sidebar" class="sidebar">
        <div class="sidebar-header">
            <div class="user-initials">{{ session.user_initials }}</div>
            <span class="close-btn" onclick="toggleSidebar()">&times;</span>
        </div>
        <div class="sidebar-content">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="container" id="main-section">
        <div class="text-content">
            <h1 id="main-title">IELTS General Reading Test</h1>
            <p id="main-description">Take this free test to understand your IELTS performance</p>
            <div class="buttons">
                <a id="start-practice-btn" href="#" class="button" onclick="showStartPracticeModal()">Start Practice</a>
                <a id="writing-tips-btn" href="#tips" class="button second">Writing Tips</a>
            </div>
        </div>
        <div class="image-content">
            <img src="/static/images/readingpractice.png" alt="IELTS Writing">
        </div>
    </div>
    
    <div class="toggle">
        <button id="general-test-btn" class="active" onclick="showTest('general')" style="border-right:3px solid rgb(255, 10, 255)">General Reading Test</button>
        <button id="academic-test-btn" class="second" onclick="showTest('academic')">Academic Test</button>
    </div>
    
    <div class="modules" id="modules-container"></div>
    
    <!-- Modal for Locked Modules -->
    <div id="lockedModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('lockedModal')">&times;</span>
            <p>Stay tuned, coming soon!</p>
          
        </div>
    </div>
    
    <!-- Modal for Writing Tips -->
    <div id="writingTipsModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('writingTipsModal')">&times;</span>
            <p>
                You will need to read quickly and efficiently, and manage your time. You will be asked to read three different passages and respond to related questions in your IELTS Reading test. The content of the Reading test is different for IELTS Academic and IELTS General Training tests.
                <br><br>
                The IELTS Reading test is designed to assess a wide range of reading skills, including how well you:
                <ul>
                    <li>Read for the general sense of a passage</li>
                    <li>Read for the main ideas</li>
                    <li>Read for detail</li>
                    <li>Understand inferences and implied meaning</li>
                    <li>Recognise a writer’s opinions, attitudes and purpose</li>
                    <li>Follow the development of an argument</li>
                </ul>
                <br>
                <b>Academic Reading</b><br>
                Format: Three long texts which range from the descriptive and factual to the discursive and analytical. These are taken from books, journals, magazines, and newspapers. They have been selected for a non-specialist audience but are appropriate for people entering university courses or seeking professional registration.
                <br>
                Duration: The IELTS Reading test takes approximately 60 minutes, including the time it takes to transfer your answers from your question booklet to your answer sheet.
                <br>
                Number of questions: 40 questions.
                <br>
                Task types: Fill gaps in a passage of written text or in a table, match headings to written text to diagrams or charts, complete sentences, give short answers to open questions, answer multiple choice questions.
                <br>
                Marks: Each correct answer receives one mark. Scores out of 40 are converted to the IELTS 9-band scale. Scores are reported in whole and half bands.
                <br>
                Answer sheet: <a href="#">Download the Reading test answer sheet (97KB)</a>
                <br><br>
                <b>General Training Reading</b><br>
                Format: Extracts from books, magazines, newspapers, notices, advertisements, company handbooks, and guidelines. These are materials you are likely to encounter daily in an English-speaking environment.
                <br>
                Duration: The IELTS Reading test takes approximately 60 minutes, including the time it takes to transfer your answers from your question booklet to your answer sheet.
                <br>
                Number of questions: 40 questions.
                <br>
                Task types: Fill gaps in a passage of written text or in a table, match headings to written text to diagrams or charts, complete sentences, give short answers to open questions, answer multiple choice questions.
                <br>
                Marks: Each correct answer receives one mark. Scores out of 40 are converted to the IELTS 9-band scale. Scores are reported in whole and half bands.
            </p>
        </div>
    </div>
    <!-- Modal for Start Practice -->
  
    <div id="startPracticeModal" class="modal2">
        <div class="modal-content2">
            <span class="close" onclick="closeModal('startPracticeModal')">&times;</span>
            <img src="/static/images/robosad.webp" alt="Practice">
            <h2>We are sorry...</h2>
            <p>This session is still under progress. We are working on bringing the IELTS Reading tests to you.</p>
          
        </div>
    </div>
    <script>
        const generalModules = [
            { title: '#1: Random practice reading skills', description: '', image: '/static/images/readingmodule1.png', link: '/reading/custom-reading-topic', locked: false },
            { title: '#2: Daily Life Situations', description: '', image: '/static/images/speak21.png', link: '#', locked: true },
            { title: '#3: Social Trends and Issues', description: '', image: '/static/images/soc0.webp', link: '#', locked: true },
            { title: '#4: Education & Social', description: '', image: '/static/images/book1.webp', link: '/reading/custom-reading-topic', locked: true },
            { title: '#5: Economy-Writing Questions', description: '', image: '/static/images/cfd.png', link: '#', locked: true },
            { title: '#6: Politic-MCQ & Writing', description: '', image: '/static/images/module1.jpg', link: '#', locked: true }
            // Add more modules as needed
        ];

        const academicModules = [
            { title: '#1: Academic Essays-MCQ & Open question', description: '', image: '/static/images/56.png', link: '#', locked: true },
            { title: '#2: Research Articles-Writing & MCQ', description: '', image: '/static/images/daash1.jpg', link: '#', locked: true },
            { title: '#3: Case Studies-Wriiting Opinion', description: '', image: '/static/images/int1.png', link: '#', locked: true },
            { title: '#4: Academic Text & Science-MCQ', description: '', image: '/static/images/science1.webp', link: '#', locked: true },
            { title: '#5: Culture-Open questions and MCQ', description: '', image: '/static/images/dashb1.webp', link: '#', locked: true },
            { title: '#6: Social-MCQ & Discussion', description: '', image: '/static/images/soc0.webp', link: '#', locked: true }
           
        ];

        function showTest(testType) {
            const title = document.getElementById('main-title');
            const description = document.getElementById('main-description');
            const startPracticeBtn = document.getElementById('start-practice-btn');
            const modulesContainer = document.getElementById('modules-container');
            
            // Clear existing modules
            modulesContainer.innerHTML = '';

            const modules = testType === 'general' ? generalModules : academicModules;
            const testTitle = testType === 'general' ? 'IELTS General Reading Test' : 'IELTS Reading Academic Test';
            const testDescription = testType === 'general' 
                ? 'Take this free test to understand your IELTS reading performance'
                : 'Take this free test to understand your IELTS academic performance';

            title.textContent = testTitle;
            description.textContent = testDescription;

            // Update the Start Practice button link
            startPracticeBtn.href = testType === 'general' ? '#' : '#';

            modules.forEach((module, index) => {
                const moduleElement = document.createElement('a');
                moduleElement.href = module.locked ? 'javascript:void(0)' : module.link;
                moduleElement.className = 'module';
                moduleElement.innerHTML = `
                    <img src="${module.image}" alt="${module.title}">
                    <h3>${module.title}</h3>
                    <p>${module.description}</p>
                    ${module.locked ? '<i class="fas fa-lock locked-icon"></i>' : ''}
                `;

                if (module.locked) {
                    moduleElement.onclick = () => showModal('lockedModal');
                }

                modulesContainer.appendChild(moduleElement);
            });

            document.getElementById('general-test-btn').classList.toggle('active', testType === 'general');
            document.getElementById('academic-test-btn').classList.toggle('active', testType === 'academic');
        }

        function showModal(modalId) {
            document.getElementById(modalId).style.display = "block";
        }

        function closeModal(modalId) {
            document.getElementById(modalId).style.display = "none";
        }

        // Initialize with the General Test view
        showTest('general');

        document.getElementById('writing-tips-btn').onclick = function() {
            showModal('writingTipsModal');
        };
        function toggleSidebar() {
            var sidebar = document.getElementById("sidebar");
            sidebar.classList.toggle("active");
        }
        function showStartPracticeModal() {
            showModal('startPracticeModal');
        }

    </script>
</body>
</html>
