<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listening Module - ORBIDO</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/static/css/custom_reading_module1.css">
</head>

<body>

    <nav class="navbar">
        <div class="nav-container">
            <a class="navbar-brand" href="/home" style="font-weight:700; color:black; font-size:1.2em; margin-left:10px;">
                <img src="/static/images/orbido..png" alt="">RBIDO
            </a>
        </div>
    </nav>

    <h1>Ready to start? <i class="fa-solid fa-bolt" style="color: #FFD43B;"></i></h1>
    
    <form id="generate-form" action="/listening/choose_listening_topic" method="POST">
        <div class="soli">
            <input type="text" id="topic" name="topic" required placeholder="Type your favourite topic here...">
            <button type="submit">Generate Audio</button>
        </div>
    </form>

    <div id="overlay" class="overlay">
        <img src="/static/images/robo1.webp">
        <p>Your audio is getting ready, it can take a while...</p>
        <p id="loading-timer">0s</p>
    </div>

    <script>
        document.getElementById('generate-form').addEventListener('submit', function(e) {
            document.getElementById('overlay').classList.add('active');
            let seconds = 0;
            const timerElement = document.getElementById('loading-timer');
            const interval = setInterval(() => {
                seconds += 1;
                timerElement.innerText = `${seconds}s`;
            }, 1000);
        });
    </script>
</body>

</html>
